.topo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--cor-branco);
  height: 120px;
}

.logo img {
  width: 200px;
}
.menu {
  display: flex;
  margin-right: 20%;
}
nav {
  display: flex;
}
nav ul {
  list-style: none;
  display: flex;
}

nav ul li a {
  text-decoration: none;
  color: var(--cor-preto);
  padding: 0 2em 0 2em;
  font-size: 25px;
  text-transform: uppercase;
  display: inline-block; /* Permite a aplicação de transformação */
  transition: transform 0.3s ease-in-out; /* Adiciona uma transição suave */
}
nav ul li a:hover {
  color: var(--cor-vermelho);
  transform: translateY(-5px); /* Move o texto para cima ao passar o mouse */
}
