<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Animações com css</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <h2>Box model</h2>
    <div class="caixa"></div>

    <h2>Flexbox</h2>
    <p>Display: flex</p>
    <div class="container">
      <div class="flexbox">Caixa 1</div>
      <div class="flexbox">Caixa 2</div>
      <div class="flexbox">Caixa 3</div>
    </div>
    <p>Display: Inline-flex</p>
    <div class="containerInlineFlex">
      <div class="flexbox">Caixa 1</div>
      <div class="flexbox">Caixa 2</div>
      <div class="flexbox">Caixa 3</div>
    </div>
    <p>flex-direction row</p>
    <div class="container-flex-direction-row">
      <div class="flexbox">Caixa 1</div>
      <div class="flexbox">Caixa 2</div>
      <div class="flexbox">Caixa 3</div>
    </div>
    <p>flex-direction row-reverse</p>
    <div class="container-flex-direction-row-reverse">
      <div class="flexbox">Caixa 1</div>
      <div class="flexbox">Caixa 2</div>
      <div class="flexbox">Caixa 3</div>
    </div>
    <p>flex-direction column</p>
    <div class="container-flex-direction-column">
      <div class="flexbox">Caixa 1</div>
      <div class="flexbox">Caixa 2</div>
      <div class="flexbox">Caixa 3</div>
    </div>
    <p>flex-direction column-reverse</p>
    <div class="container-flex-direction-column-reverse">
      <div class="flexbox">Caixa 1</div>
      <div class="flexbox">Caixa 2</div>
      <div class="flexbox">Caixa 3</div>
    </div>

    <p>flex-box flex-wrap</p>
    <div class="container-flex-wrap">
      <div class="flex">Caixa 1</div>
      <div class="flex">Caixa 2</div>
      <div class="flex">Caixa 3</div>
      <div class="flex">Caixa 3</div>
      <div class="flex">Caixa 3</div>
    </div>
    <p>flex-box flex-flow</p>
    <div class="container-flex-flow">
      <div class="flex">Caixa 1</div>
      <div class="flex">Caixa 2</div>
      <div class="flex">Caixa 3</div>
      <div class="flex">Caixa 4</div>
      <div class="flex">Caixa 5</div>
    </div>
    <p>flex-box justify-content-flex-start</p>
    <div class="container-justify-content-flex-start">
      <div class="flex">Caixa 1</div>
      <div class="flex">Caixa 2</div>
      <div class="flex">Caixa 3</div>
      <div class="flex">Caixa 4</div>
      <div class="flex">Caixa 5</div>
    </div>
    <p>flex-box justify-content-flex-end</p>
    <div class="container-justify-content-flex-end">
      <div class="flex">Caixa 1</div>
      <div class="flex">Caixa 2</div>
      <div class="flex">Caixa 3</div>
      <div class="flex">Caixa 4</div>
      <div class="flex">Caixa 5</div>
    </div>
    <p>flex-box justify-content-space-between</p>
    <div class="container-justify-content-space-between">
      <div class="flex">Caixa 1</div>
      <div class="flex">Caixa 2</div>
      <div class="flex">Caixa 3</div>
      <div class="flex">Caixa 4</div>
      <div class="flex">Caixa 5</div>
    </div>
    <p>flex-box justify-content-center</p>
    <div class="container-justify-content-center">
      <div class="flex">Caixa 1</div>
      <div class="flex">Caixa 2</div>
      <div class="flex">Caixa 3</div>
      <div class="flex">Caixa 4</div>
      <div class="flex">Caixa 5</div>
    </div>
    <p>flex-box justify-content-space-around</p>
    <div class="container-justify-content-space-around">
      <div class="flex">Caixa 1</div>
      <div class="flex">Caixa 2</div>
      <div class="flex">Caixa 3</div>
      <div class="flex">Caixa 4</div>
      <div class="flex">Caixa 5</div>
    </div>
    <p>flex-box justify-content-space-evenly</p>
    <div class="container-justify-content-space-evenly">
      <div class="flex">Caixa 1</div>
      <div class="flex">Caixa 2</div>
      <div class="flex">Caixa 3</div>
      <div class="flex">Caixa 4</div>
      <div class="flex">Caixa 5</div>
    </div>
    <p>flex-box align-items stretch</p>
    <div class="container-stretch">
      <div class="align">Caixa 1</div>
      <div class="align">Caixa 2</div>
      <div class="align">Caixa 3</div>
      <div class="align">Caixa 4</div>
      <div class="align">Caixa 5</div>
    </div>
    <p>flex-box align-items flex-start</p>
    <p>Altura de acordo com seu conteudo</p>
    <div class="container-align-items-flex-start">
      <div class="align">Caixa 1</div>
      <div class="align">Caixa 2</div>
      <div class="align">Caixa 3</div>
      <div class="align">Caixa 4</div>
      <div class="align">Caixa 5</div>
    </div>
    <p>align-items-center</p>
    <div class="container-align-items-center">
      <div class="align">Caixa 1</div>
      <div class="align">Caixa 2</div>
      <div class="align">Caixa 3</div>
      <div class="align">Caixa 4</div>
      <div class="align">Caixa 5</div>
    </div>
    <p>align-items-flex-end</p>
    <div class="container-align-items-flex-end">
      <div class="align">Caixa 1</div>
      <div class="align">Caixa 2</div>
      <div class="align">Caixa 3</div>
      <div class="align">Caixa 4</div>
      <div class="align">Caixa 5</div>
    </div>
    <h2>align items não funciona quando tem quebra de linha</h2>
    <p>align-content</p>
    <div class="container-align-content">
      <div class="align">Caixa 1</div>
      <div class="align">Caixa 2</div>
      <div class="align">Caixa 3</div>
      <div class="align">Caixa 4</div>
      <div class="align">Caixa 5</div>
    </div>
    <p>flex-box:order</p>
    <div class="container-order">
      <div class="quadrado">Caixa 1</div>
      <div class="quadrado">Caixa 2</div>
      <div class="quadrado">Caixa 3</div>
      <div class="quadrado">Caixa 4</div>
    </div>
    <h2>flex-box:order flex-grow</h2>
    <div class="container-order">
      <div class="grow">Caixa 1</div>
      <div class="grow">Caixa 2</div>
      <div class="grow">Caixa 3</div>
      <div class="grow">Caixa 4</div>
    </div>

    <h2>flex-box flex-shrink</h2>
    <div class="container-order">
      <div class="shrink">Caixa 1</div>
      <div class="shrink">Caixa 2</div>
      <div class="shrink">Caixa 3</div>
      <div class="shrink">Caixa 4</div>
    </div>
    <h2>flex-box flex-basis</h2>
    <div class="container-order">
      <div class="basis">Caixa 1</div>
      <div class="basis">Caixa 2</div>
      <div class="basis">Caixa 3</div>
      <div class="basis">Caixa 4</div>
    </div>
    <h2>shorhand flex</h2>
    <div class="container-order">
      <div class="basis">Caixa 1</div>
      <div class="basis">Caixa 2</div>
      <div class="basis">Caixa 3</div>
      <div class="basis">Caixa 4</div>
    </div>
    <h2>flex-box align-self</h2>
    <div class="container">
      <div class="align-self">Caixa 1</div>
      <div class="align-self">Caixa 2</div>
      <div class="align-self">Caixa 3</div>
      <div class="align-self">Caixa 4</div>
    </div>
    <h2>Grid Layout</h2>
    <div class="container-grid">
      <div class="item">Caixa 1</div>
      <div class="item">Caixa 2</div>
      <div class="item">Caixa 3</div>
      <div class="item">Caixa 4</div>
    </div>
    <h2>Multicolumn Layout</h2>
    <div class="colunas">
      <div class="item">Caixa 1</div>
      <div class="item">Caixa 2</div>
      <div class="item">Caixa 3</div>
      <div class="item">Caixa 4</div>
    </div>
  </body>
</html>
